<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header')%>

    <h1>Welcome to the Home Page</h1>
    <p>This is the home page for user.</p>
    <a href="user/login">Login</a>
    <a href="user/register">Register</a>
    <p>This is the home page for driver.</p>
    <a href="driver/login">Login</a>
    <a href="driver/register">Register</a>
    <p>This is the home page for admin.</p>
    <a href="admin/login">Login</a>
    <a href="admin/register">Register</a>

    <%- include('partials/footer')%>
</body>
</html>
