<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Clothes Registration</title>
  </head>
  <body>
    <h1>Clothes Registration</h1>
    <form action="/<%= phone%>/orderList" method="post">
      <% for(let i = 0; i < data.length; i++) {%> <%= data[i].FUNCTION %> <br />
      <% for(let j = 0; j < data[i].SUBFUNCTION.length; j++) {%> <%=
      data[i].SUBFUNCTION[j].GENDER %> <br />
      <%-
      include('partials/orderPartials',{data:data[i].SUBFUNCTION[j].PRODUCTS})%>

      <br />
      <%}%><br />
      <%}%> <br />
      <p>subtotal: <span id="totalPrice">0</span></p>
      

      <button type="submit">Register</button>
    </form>
    <script>

    
    // Function to generate time options
    



      

      document.addEventListener('DOMContentLoaded', () => {
        updateTimes();
        updateTotalPrice();
        console.log("DOMContentLoaded")
      });
    </script>
  </body>
</html>
